<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Chat</title>

        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css') }}">
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  AI Assistent
                </a>
            </div>
        </nav>

    <div class="container-fluid w-auto m-3 p-3 border rounded" id="massage-container"
         style="height: calc(100vh - 160px); overflow-y: auto;">

        </div>

        <div class="p-3">

            <form id="prompt-form" onsubmit="event.preventDefault(); sendData();">
                <div class="input-group">
                  <input id="question-feld" type="text" name="prompt" class="form-control" placeholder="Question" aria-describedby="question">
                    <input class="btn btn-outline-primary" type="submit" id="question">
                </div>
            </form>
        </div>

        <script src="{{ url_for('static', filename= 'js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
    </body>
</html>